@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes Transparent {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(0, 0);
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes Left-in {
    0% {
      transform: translateX(-80%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes Right-in{
    0% {
      transform: translateX(80%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
    }
  }
  

body{
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
  background-image: url(/Image/background.png);
  width: 700px;
  height: 616px;
  position: relative;
  top: 0;
}

.girl{
  position: absolute;
  left: 100px;
  height: 340px;
  width: 500px;
  top: 60px;
  animation: fade-in 0.8s ease-in,
   fade-out 0.8s 1.8s ease-out forwards;;
}

.headline1{
  position: absolute;
  width: 400px;
  height: 150px;
  bottom: 70px;
  left: 40px;
  animation: Transparent 1s ease-in, Left-in .3s 1s ease-in, zoom-out 0.5s 3s ease-in-out forwards;;
}

.headline2{
  position: absolute;
  top: 90px;
  left: 40px;
  animation: Transparent 2s ease-in, Right-in .9s 2s ease-in;
}

.subheadline{
  position: absolute;
  top: 210px;
  right: -10px;
  animation: Transparent 4s, fade-in .3s 4s ease-in;
}

.learnmore{
  position: absolute;
  bottom: 70px;
  right: 130px;
  animation: Transparent 5s, fade-in .3s 5s ease-in;
}

.logo{
  position: absolute;
  top: 0;
  right: 45px;
  animation: Transparent 6s, Left-in .3s 6s ease-in;
}

.replay{
  position: absolute;
  bottom: 0px;
  right: 290px;
  animation: Transparent 7s, fade-in .3s 7s ease-in;
}